<!DOCTYPE html>
<html lang="en">
<script src="http://code.jquery.com/jquery-latest.js"></script>
<head>
<script src="bootstrap-4.0.0-alpha.5/bootstrap.min.js"></script>
<link rel="stylesheet" href="bootstrap-4.0.0-alpha.5/boostrap.min.css">
<link rel="stylesheet" href="bootstrap-4.0.0-alpha.5/boostrap-reboot.min.css">
<link rel="stylesheet" href="bootstrap-4.0.0-alpha.5/boostrap-grid.min.css">
<link rel="stylesheet" href="bootstrap-4.0.0-alpha.5/boostrap-flex.min.css">
</head>
<body>
	<div class=".col-md-12">
	<h1>This is a template</h1>
	</div>
<body>
<html>